<% var pages = public.pages._data;
  var page = null;
  for(var i = 0; i < pages.length; i++){
    if(pages[i].slug == current.source){
      page = pages[i];
    }
  }
%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuberis Standards</title>
    <link rel="stylesheet" href="<%= base_url %>/assets/css/app.css">
  </head>
  <body class="page-<%- current.path[0] %>">
    <header class="main-header">

    </header>
    <div class="container">
      <div class="row">
        <aside class="col-sm-4">
          <h3>Table of Contents</h3>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
          <% var pages = public.pages._data;
             for(var k = 0; k < pages.length; k++){ %>
            <li>
              <a href="<%= base_url %>/pages/<%= pages[k].slug %>"><%= pages[k].title %></a>
            </li>
          <% } %>

        </aside>
        <main class="col-sm-8">
          <% if(page && page.subnav){ %>
            <%- partial('_partials/subnav', {subnav: page.subnav}) %>
          <% } %>
          <article class="content">
            <% if(page && page.title){ %>
              <h1><%= page.title %></h1>
            <% } %>

            <%- yield %>
          </article>
        </main>
      </div>
    </div>

    <footer class="main-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
          </div>
        </div>
      </div>
    </footer>

    <script src="//cdn.jsdelivr.net/ace/1.1.8/min/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="//cdn.jsdelivr.net/ace/1.1.8/min/ext-beautify.js" type="text/javascript" charset="utf-8"></script>
    <script>

        var pre = document.getElementsByTagName('pre');

        for(var i = 0, x = pre.length; i < x; i++){
          var editor = ace.edit(pre[i]);
          editor.setTheme("ace/theme/twilight");
          editor.getSession().setMode("ace/mode/less");
          editor.getSession().setTabSize(2);
        }

    </script>
  </body>
</html>
